body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10 px;
    padding: 10 px;
    background-color: #fefefe
}
table{
    border-collapse: collapse;
    width: 100%;
    background-color: darkred;
}